.about {

    h2 {
        font-size: 32px;
        color: var(--yellowish-text);
    }

    .grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
        width: 100%;
        gap: 20px;

        .text {
            font-size: 14px;

            p:nth-child(2) {
                margin: 20px 0;
            }

            p:nth-child(3) {
                margin: 0 0 10px 0;
            }
        }

        img {
            width: 100%;
        }
    }
}