.nav {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;

  
  border-bottom: 1px solid black;

  .headertext {
    font-size: 54px;
    color: #D97852;
    font-weight: 900;
    text-decoration: none;
  }

  ul {
    display: flex;
    align-items: flex-end;

    li {
      list-style: none;
      margin: 0 0 20px 40px;
      font-size: 18px;
      color: var(--text);

      .link {
        text-decoration: none;
        color: var(--text);

        &:hover {
          color: var(--yellowish-text);
        }
      }
    }
  }
}

.active {
  color: red;
}