.genre {
    width: 300px;
    color: var(--text);
    border-right: 1px solid black;
    margin-right: 20px;

    h2 {
        font-size: 20px;
    }

    .filters {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        margin: 0;
        gap: 0;
        font-size: 14px;

        li {
            color: var(--yellowish-text);
            cursor: pointer;
        }

        .selected {
            color: var(--text);
        }
    }

    .price {
        margin: 25px 0 0 0;
        font-size: 14px;

        .inputs {
            display: flex;
            align-items: center;
            
            input {
                max-width: 55px;
                border: 1px solid black;
                text-align: center;
                padding: 7px 11px;
            }

            span {
                margin: 0 10px;
            }

            p {
                margin: 0 0 0 10px;
            }
        }
    }
}