.login {

    h2 {
        color: var(--yellowish-text);
        font-size: 32px;
    }

    .loginForm {
        display: flex;
        flex-direction: column;
        width: 30vw;

        input {
            height: 38px;
            border: none;
            padding: 0 0 0 10px;
        }
    
        button {
            margin: 10px 0 0 0;
            padding: 6px 20px;
            background-color: var(--button-bg);
            border: 1px solid var(--button-border);
            cursor: pointer;
            font-size: 22px;
            transition: 300ms;
            width: 7vw;
        
            &:hover {
                background-color: var(--button-bg-hover);
                color: var(--button-text-hover);
            }
        }
    }
}