.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    border-top: 2px solid #CCCCCC;
    font-size: 14px;
    padding: 20px 0;
    margin: 20px 0 0 0;

    .info {
        display: flex;
        flex-direction: column;

        h2 {
            color: var(--yellowish-text);
            font-size: 16px;
            text-transform: uppercase;
        }
    }

    .contact {
        display: flex;
        flex-direction: column;
    }

    .socials {
        display: flex;
        justify-content: flex-end;
        font-size: 32px;
        color: #CCCCCC;
    }
}